@font-face {
    font-family: 'Mouse Memoirs';
    src: url('../../assets/fonts/MouseMemoirs-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Slackey';
    src: url('../../assets/fonts/Slackey-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../../assets/fonts/Ubuntu-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../../assets/fonts/Ubuntu-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../../assets/fonts/Ubuntu-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../../assets/fonts/Ubuntu-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}