$breakpointsMaxWidth: (
    large: 1920px,
    medLarge: 1680px,
    medium: 1365px,
    small: 1080px,
    xsmall: 430px,
    tabletLandscape: 1025px,
    tabletPortrait: 1023px,
    mobile: 767px
);

$z-layers: (
    bottomless-pit: -9999,
    default: 1,
    header: 2,
    dropdown: 3000,
    overlay: 4000,
    modal: 4001
);

$colors: (
    heroBgBlue: #1f3b83,
    primaryHeading: #1f3b83,
    subHeading: #005696,
    primaryText: #000,
    linkCopy:#005696, 
    linkOutline: #000,
    formHeading: #1f3b83,
    inputBg: #fff,
    inputBorderColor: #000,
    inputCopy: #000,
    inputOutline: #000,
    checkboxBg: #000, 
    radioLabelBg: #fff,
    radioLabelBorder: #005696,
    radioLabelCopy: #000,
    radioCheckedLabelBg:#1f3b83,
    radioCheckedCardBorder: #1f3b83,
    radioCheckedCardCopy: #fff,
    radioLabelHoverBg: #005696,
    radioLabelHoverCopy: #fff,
    customRadioBorder: #000,
    customRadioBg: #fff,
    customRadioCheckedBg: #1f3b83,
    customRadioCheckedBorder: #fff,    
    customRadioHoverBg: #005696,
    customRadioHoverBorder: #fff,
    selectBorder: #000,
    selectBg: #fff,
    selectCopy: #000,
    calendarTodayBg: #1f3b83,
    calendarDayHover: #005696,
    calendarDayHoverText: #fff,
    calendarDaySelectedBg: #1f3b83,
    calendarDaySelectedText: #fff,
    calendarDayFocusOutline: #005696,
    calendarBtnBg: #fff,
    calendarClerBtnText: #EE2756,
    calendarBtnsText: #1f3b83,
    calendarBtnsFocusOutline: #005696,
    error: #EE2756, 
    btnBg: #005696,
    btnText: #fff,
    btnOutline: #000,
    footerBgBlue: #1f3b83,
    footerLinkText: #fff,
    footerLinkOutline: #fff,
    footerCopy: #fff,
    
    black: #000,
    white: #fff,
    //darkBlue: #1f3b83,    
    //blue: #005696,
    //red: #EE2756,
);
